$_hover_color: transparentize(white,0.4);
$_hover_effect_top: inset 0 3px $_hover_color;
$_hover_effect_bottom: inset 0 -3px $_hover_color;
$_hover_effect_left: inset 3px 0 $_hover_color;
$_hover_effect_right: inset -3px 0 $_hover_color;

$_panel_shade: transparentize(black,0.6);
$_panel_top: inset 0 3px $_panel_shade;
$_panel_bottom: inset 0 -3px $_panel_shade;
$_panel_left: inset 3px 0 $_panel_shade;
$_panel_right: inset -3px 0 $_panel_shade;

$panel_color: transparentize(black, 0.3);
$dock_color: transparentize(black, 0.3);

// gradient needed for box-shadow to work in panel
%panel_bg {
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
}

// Dash to Panel extension styling

#panel.dashtopanelMainPanel {
  @extend %panel_bg;

  &.dashtopanelBottom { box-shadow: $_panel_bottom; }
  &.dashtopanelTop { box-shadow: $_panel_top; }

  .panel-button {
    &:hover { background-color: transparentize(white,0.9); }
    &:active, &:overview, &:focus, &:checked { background-color: $selected_bg_color; }
    text-shadow: black 0 1px 1px;
  }

  .dash-item-container > * { padding: 0 4px; }

  // panel dash icon
  @each $d in hover, checked, overview {
    .show-apps .overview-icon {
      background-image: url("d2p-activities.svg");
      background-position: center top;
      background-color: transparent;
      border: none;
      color: transparent;
      transition-duration: 100ms;
    }

    .show-apps:#{$d} .overview-icon {
      background-image: url("d2p-activities-active.svg");
      background-position: center top;
    }

    .dash-item-container .show-apps {
      padding: 4px 2px 4px 0;
      transition-duration: 100ms;
      &:#{$d} { background-color: $panel_color; }
    }
  }

  .show-apps-icon { color: transparent; } // Makes sure that no default icon from the icon theme is showing

  // clock and system menu area
  & > #panelRight {
    background-color: $panel_color;
    border-radius: 2px 0 0 0;
  }
  
  .showdesktop-button { padding-right: 8px; }
}

// Dash to dock extension styling

@each $p in (left), (right), (bottom), (top) {
  #dashtodockContainer #dash {
    background-color: $dock_color;

    .app-well-app-running-dot { background-color: white; }
  }

  &.#{$p}.extended {
    @extend %panel_bg;
    @if $p==left { box-shadow: $_panel_left; }
    @else if $p==right { box-shadow: $_panel_right; }
    @else if $p==bottom { box-shadow: $_panel_bottom; }
    @else if $p==top { box-shadow: $_panel_top; }
  }
}
