$_hover_color: transparentize(white, 0.4);
$_hover_effect_top: inset 0 3px $_hover_color;
$_hover_effect_bottom: inset 0 -3px $_hover_color;
$_hover_effect_left: inset 3px 0 $_hover_color;
$_hover_effect_right: inset -3px 0 $_hover_color;

$_panel_shade: transparentize(black, 0.6);
$_panel_top: inset 0 3px $_panel_shade;
$_panel_bottom: inset 0 -3px $_panel_shade;
$_panel_left: inset 3px 0 $_panel_shade;
$_panel_right: inset -3px 0 $_panel_shade;

/* Dash to Panel extension styling */

#panel.dashtopanelMainPanel {
  // gradient needed for box-shadow to work
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
    
  &.dashtopanelBottom {
    box-shadow: $_panel_bottom;

    .app-well-app:hover .overview-icon {
      box-shadow: $_hover_effect_bottom;
      background-gradient-direction: vertical;
      background-gradient-start: transparent;
      background-gradient-end: transparent;
    }
  }
    
  &.dashtopanelTop {
    box-shadow: $_panel_top;

    .app-well-app:hover .overview-icon {
      box-shadow: $_hover_effect_top;
      background-gradient-direction: vertical;
      background-gradient-start: transparent;
      background-gradient-end: transparent;
    }
  }
    
  // panel dash icon
  @each $d in hover, checked, overview, focus, active, selected {
    .show-apps .overview-icon {
      background-image: url("d2p-activities.svg");
      background-position: center top;
      background-color: transparent;
      border: none;
      color: transparent;
    }
 
    .show-apps:#{$d} .overview-icon {
      background-image: url("d2p-activities-active.svg");
      background-position: center top;
    }
  }
    
  // clock and system menu area
  & > #panelRight {
    background-color: rgba(0,0,0,0.6);
    border-radius: 2px;
    margin: 6px;
  }
}

/* Dash to dock extension styling */

#dashtodockContainer.extended {
  border: 0;
  border-radius: 0;
  &.bottom #dash { box-shadow: $_panel_bottom; }
  &.left #dash { box-shadow: $_panel_left; }
  &.right #dash { box-shadow: $_panel_right; }
}

#dashtodockContainer {
  &.bottom #dash .app-well-app-running-dot {
    width: 44px;
    height: 2px;
    background-color: transparentize($selected_fg_color, 0.4);
    margin-bottom: 0;
  }
}

// hover effect
#dashtodockContainer {
  border-radius: 0;
  &.bottom #dash .app-well-app {
    &:hover .overview-icon,
    &:focus .overview-icon,
    &:selected .overview-icon {
      box-shadow: $_hover_effect_bottom;
      background-color: transparent;
    }
  }
  &.left #dash .app-well-app {
    &:hover .overview-icon,
    &:focus .overview-icon,
    &:selected .overview-icon {
      box-shadow: $_hover_effect_left;
      background-color: transparent;
    }
  }
  &.right #dash .app-well-app {
    &:hover .overview-icon,
    &:focus .overview-icon,
    &:selected .overview-icon {
      box-shadow: $_hover_effect_right;
      background-color: transparent;
    }
  }
}
